.bounceInRight {
    animation:bounceInRight 1s;
    -webkit-animation:bounceInRight 1s;
}
.fadeInRight {
    animation:fadeInRight 1s;
    -webkit-animation:fadeInRight 1s;
}
.fadeOutLeft {
    animation:fadeOutLeft 1s;
    -webkit-animation:fadeOutLeft 1s;
}
.pulse {
    animation:pulse 1s infinite;
    -webkit-animation:pulse 1s infinite;
}
html,body {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.section {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    color: #fff;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    opacity: 0;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
}
.section.play{
    transition: all .35s;
    -webkit-transition: all .35s;
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
}
.section-loading {
    text-align: center;
    background-image: url(../img/loading/load-page-bg.jpg);
}
.section-home {
    text-align: center;
    background-image: url(../img/home/bg.jpg);
}
.section-subject {
    background-image: url(../img/subject/bg.jpg);
}
.section-result {
    background-image: url(../img/result/bg.jpg);
}
.section-share {
    background-image: url(../img/transmit/bg.jpg);
}


/* 加载页样式 */
.section-loading .logo-cont {
    margin-top: 21vh;
    font-size: 0;
}
.section-loading .logo-cont .logo-left {
    animation:logoLeftIn 2s ease-in-out;
    -webkit-animation:logoLeftIn 2s ease-in-out;
}
.section-loading .logo-cont .logo-right {
    animation:logoRightIn 2s ease-in-out;
    -webkit-animation:logoRightIn 2s ease-in-out;
}
.section-loading .m-logo {
    margin-top: 15px;
}
.section-loading .process-cont {
    margin-top: 50px;
}
.section-loading .process-cont .process-bar {
    display: inline-block;
    width: 165px;
    height: 14px;
    background-color: #ccc;
    border-radius: 20px;
    overflow: hidden;
}
.section-loading .process-cont .process-percent {
    height: 100%;
    background-color: #ffdc00;
    overflow: hidden;
}
.section-loading .loading-process {
    margin-top: 10px;
}
/* 加载页样式 END*/

/* 首页样式 */
.section-home .kuang-cont {
    margin-top: 20vh;
}
.section-home .buton-txt{
    margin-top: -155px;
}
/* 首页样式 END*/

/* 答题页样式 */
.section-subject .year {
    position: absolute;
    right: 0;
    top:40px;
}
.section-subject .subject-title {
    position: relative;
    z-index: 10;
    text-align: center;
    margin-top: 24vh;
}
.section-subject .subject-title .subject-title__bg {
    display: inline-block;
    width: 250px;
    background-color: #ffdc00;
    padding: 7px;
}
.section-subject .subject-title .subject-title__cont {
    display: inline-block;
    width: 100%;
    padding: 6px 7px;
    border:1px solid #363f3f;
    border-radius: 3px;
    text-align: left;
    color: rgb(0, 0, 159);
    font-size: 18px;
    font-weight: bold;
}
.section-subject .option-list {
    margin-top: 5vh;
    text-align: center;
}
.section-subject .option-list .option-item {
    display: inline-block;
    width: 65%;
    padding: 6px 12px 4px;
    margin-bottom: 25px;
    font-size: 18px;
    border-radius: 13px;
    text-align: left;
    background-image: -moz-linear-gradient( 90deg, rgb(6,182,177) 0%, rgb(16,217,189) 79%, rgb(222,255,254) 93%, rgb(0,214,184) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(6,182,177) 0%, rgb(16,217,189) 79%, rgb(222,255,254) 93%, rgb(0,214,184) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(6,182,177) 0%, rgb(16,217,189) 79%, rgb(222,255,254) 93%, rgb(0,214,184) 100%);
}
#section-subject2 .option-list .option-item {
    margin-bottom: 20px;
}
@media screen and (max-width: 320px) {
    .section-subject .year {
        top: 20px;
    }
    .section-subject .subject-title {
        margin-top: 22vh;
    }
    .section-subject .option-list{
        margin-top: 4vh;
    }
    #section-subject2 .option-list .option-item {
        margin-bottom: 15px;
    }
}

/*答题结果页样式*/
.section-result .logo {
    position: absolute;
    top: 10px;
    right: 10px;
}
.section-result .tit1-cont {
    margin-top: 20px;
    padding-left: 20px;
}
.section-result .tit2-cont {
    margin-top: 12vh;
    text-align: right;
    padding-right: 20px;
}
.section-result .result1-cont {
    margin-top: 11vh;
    text-align: center;
}
.section-result .result2-cont {
    margin-top: 5vh;
    text-align: center;
}
.section-result .result {
    display: inline-block;
    width: 250px;
    height: 48px;
    text-align: left;
    font-size: 24px;
    padding-left: 17px;
    padding-top: 9px;
    background-size:100%; 
    background-position: center;
    background-repeat: no-repeat;
    color: rgb(28, 28, 170);
    font-weight: bold;
}
.section-result .result1 {
    background-image: url(../img/result/word_bg_green.png);
}
.section-result .result2 {
    background-image: url(../img/result/word_bg_yellow.png);
}
.section-result .tips {
    position: absolute;
    bottom: 17px;
    left: 20px;
    width: 80%;
    padding: 9px;
    border-radius: 5px;
    background-color: blue;
    color: #fff;
    font-size: 13px;
    color: rgb(0, 214, 184);
    line-height: 1.375;
}
/*答题结果页样式END*/

/*转发分享页面*/
.section-share .share-img {
    position: absolute;
    top: 12px;
    right: 12px;
}
.section-share .mars-logo {
    position: absolute;
    bottom: 10px;
    right: 10px;
}    
.section-share .tit-cont {
    margin-top: 15vh;
    text-align: center;
}
.section-share .share-cont {
    margin-top: 3vh;
    text-align: center;
}
.section-share .share-cont img {
    width: 88%;
}
.section-share .reanswer {
    margin-top: -45px;
    text-align: center;
}
/*转发分享页面END*/